body{
    background-color: purple;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(27, 11, 29);
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}


#div1{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


#button{
    width: 100%;
    color: rgb(76, 47, 209);
    display: flex;
    align-items: center;
    justify-content: center;
}
#text{
    font-size: 10px;
}





